body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, #FF5EDF 0%, #04c8DE 100%);
  /*background-image: url("IMAGE_URL");*/ /* fallback */
  /*background-image: url("IMAGE_URL"), linear-gradient(#eb01a5, #d13531);*/ /* W3C */
}

button {
    cursor: pointer;
}
